@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}





.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

a {
  position: relative;
}

a:hover:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

/* footer start */

._footer_wrapper {
  background: #101010;
}

._footer_wrap {
  padding: 60px 0 120px;
}

._footer_left_logo {
  max-width: 80px;
}

._footer_left_txt {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  margin-top: 20px;
}

._footer_left_ic_wrap {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

._footer_left_ic_item {
  margin-right: 20px;
}

._footer_list_head {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.23819px;
  color: #ffffff;
}

._footer_list_link {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.23819px;
  color: #bbbbbb;
}

._footer_list_link:hover {
  color: #fff;
}

._footer_list_item {
  margin: 15px 0;
}

._footer_left_email_wrap {
  margin-top: 30px;
}

._footer_left_email_title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

._footer_left_email_main_wrap {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

._footer_left_email_in {
  background: transparent;
  border: 1px solid #4e12f7;
  padding: 10px 5px 10px 10px;
  flex: 0 0 60%;
  color: #fff;
}

._footer_left_email_in::placeholder {
  font-size: 15px;
  color: #fff;
}

.subemail_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 12px 40px;
  background: linear-gradient(94.25deg,
      #4e12f7 0%,
      #c87bbf 123.04%,
      #ebc7c9 241.07%);
}

/* responsive css */
/* Desktop/Laptop */
@media only screen and (max-width: 1600px) {}

@media (max-width: 1440px) {}

@media only screen and (max-width: 1399px) {}

/* Desktop/Laptop */
@media only screen and (max-width: 1199px) {}

/* Ipad pro */
@media only screen and (max-width: 991px) {}

/* Ipad/Mobile L */
@media only screen and (max-width: 767px) {}

/* Mobile */
@media only screen and (max-width: 575px) {}

@media only screen and (max-width: 420px) {}

@media only screen and (max-width: 375px) {}

/* footer ends */




